---
layout: page
title: 玩机经验
permalink: /articles/
---

<!-- 置顶博客显示部分 -->
<h1>必备敲门砖</h1>
{% for post in site.posts %} 
	{% if post.top == true %}
<ul>
	<li class="wow fadeInLeft" data-wow-duration="1.5s">
    	<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
        <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">阅读全文</a>
    </li>
</ul>
	{% endif %}
{% endfor %}

<HR style="border:1 dashed #987cb9" width="80%" color=#987cb9 SIZE=100>

<!-- 其他博客显示部分 -->
{% for post in site.posts %} 
	{% if post.project == null %}
		{% if post.top == null %}
<ul>
	<li class="wow fadeInLeft" data-wow-duration="1.5s">
		<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
		<p>{{ post.excerpt }}</p>
		<a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">阅读全文</a>
	</li>
</ul>
		{% endif %}
	{% endif %}
{% endfor %}


