---
layout: page
title: 玩机经验
permalink: /articles/
---

<!-- 置顶博客显示部分 -->

<p><font size="6" color="#FF8C00">必备敲门砖</font></p>
{{ page.date | date: "%-d %B %Y" }}
{% for post in site.posts %} 
	{% if post.top == true %}
<ul>
	<li class="wow fadeInLeft" data-wow-duration="1.5s">
    	<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
</ul>
	{% endif %}
{% endfor %}

<HR style="border:1 dashed #FFF8DC" width="80%" color=#987cb9 SIZE=1>

<!-- 其他博客显示部分 -->
<p><font size="6" color="#FF8C00">玩机经验</font></p>	
{% for post in site.posts %} 
	{% if post.project == null %}
		{% if post.top == null %}
<ul>
	<li class="wow fadeInLeft" data-wow-duration="1.5s">
		<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>		
	</li>
</ul>
		{% endif %}
	{% endif %}
{% endfor %}


