html {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: #edf2f7;
    color: #495057;
}

header, main {
	margin: 0 auto;
    max-width: 800px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem,auto);
    grid-gap: 1rem
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 10rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem;
    border-radius: 10px;
}

@supports (display:grid) {
    .card {
        margin: 0;
        border-radius: 10px;
        
    }
}
.card:nth-child(1n) {
  background: #96d0c3;
}
.card:nth-child(2n) {
  background: #ef7d4d;
}
.card:nth-child(3n) {
  background: #fbcfb9;
}
.card:nth-child(4n) {
  background: #fac14e;
}

.card:nth-child(5n + 1) {
  background: #ef7d4d;
}

.card:nth-child(6n + 1) {
  background: #ef7d4d;
}

.card:nth-child(7n +1) {
  background: #fac14e;
}


.card:nth-child(4n + 1) {
  background: #fac14e;
}
.card:nth-child(4n + 2) {
  background: #fbcfb9;
}
.card:nth-child(4n + 3) {
  background: #ef7d4d;
}
.card:nth-child(4n + 4) {
  background: #96d0c3;
}

.card {
  //min-height: 100%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: inherit;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
	text-decoration: none;
}

.card p { 
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.card .meta {
   padding: 2rem;
   display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.post {
	background: white;
	padding: 1rem 1rem;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
	
}

.card {
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: auto;
    max-width: 100%;
    margin: 0.5rem 0;
    vertical-align: middle;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: right;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
	text-transform: inherit;
	color: inherit;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: .05em;
	//opacity: 0.6;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
}

// #back-top {
//  position: fixed;
//  bottom: 20px;
//  right: 30px;
// }

#back-top a { /* back to top button */
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    width:50px;
    height: 50px;
    position: fixed;
    bottom: 20px; /* 小按钮到浏览器底边的距离 */
    right: 30px; /* 小按钮到浏览器右边框的距离 */
    color: rgb(64,120,192); /* 小按钮中文字的颜色 */
    z-index: 1000;
    background: #fff; /* 小按钮底色 */
    padding: auto; /* 小按钮中文字到按钮边缘的距离 */
    border-radius: 50px; /* 小按钮圆角的弯曲程度（半径）*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-weight: bold; /* 小按钮中文字的粗细 */
    text-decoration: none !important;
    box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 #ffffff inset;
}

#back-top a:hover { /* 小按钮上有鼠标悬停时 */
    background: rgba(64,120,192,0.8); /* 小按钮的底色 */
    color: #fff; /* 文字颜色 */
}




button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color:inherit
}

button {
    overflow:visible
}

button, select {
    text-transform:none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor:pointer
}

button[disabled], html input[disabled] {
    cursor:default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border:0
}

input {
    line-height:normal
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height:auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance:textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}



.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom:4px solid\9
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom:2px
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left:auto
    }

    .navbar-right .dropdown-menu-left {
        right: auto;
        left:0
    }
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border:1px solid transparent
}

@media (min-width: 768px) {
    .navbar {
        border-radius:4px
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float:left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1)
}

.navbar-collapse.in {
    overflow-y:auto
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow:none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow:visible !important
    }

    .navbar-collapse.in {
        overflow-y:visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left:0
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height:340px
}

@media (max-device-width: 480px) and(orientation: landscape) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:200px
    }
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left:-15px
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left:0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width:0 0 1px
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius:0
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index:1030
}

@media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius:0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width:0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width:1px 0 0
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height:20px
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration:none
}

.navbar-brand > img {
    display:block
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left:-15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius:4px
}

.navbar-toggle:focus {
    outline:0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius:1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top:4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display:none
    }
}

.navbar-nav {
    margin:7.5px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:20px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow:none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding:5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height:20px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image:none
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin:0
    }

    .navbar-nav > li {
        float:left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom:15px
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1)
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align:middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align:middle
    }

    .navbar-form .form-control-static {
        display:inline-block
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align:middle
    }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
        width:auto
    }

    .navbar-form .input-group > .form-control {
        width:100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align:middle
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align:middle
    }

    .navbar-form .checkbox label, .navbar-form .radio label {
        padding-left:0
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
        position: relative;
        margin-left:0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top:0
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom:5px
    }

    .navbar-form .form-group:last-child {
        margin-bottom:0
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow:none
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius:0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom:8px
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom:10px
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom:14px
}

.navbar-text {
    margin-top: 15px;
    margin-bottom:15px
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left:15px
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float:left !important
    }

    .navbar-right {
        float: right !important;
        margin-right:-15px
    }

    .navbar-right ~ .navbar-right {
        margin-right:0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color:#e7e7e7
}

.navbar-default .navbar-brand {
    color:#777
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color:transparent
}

.navbar-default .navbar-text {
    color:#777
}

.navbar-default .navbar-nav > li > a {
    color:#777
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color:transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color:#e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color:transparent
}

.navbar-default .navbar-toggle {
    border-color:#ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#888
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:#e7e7e7
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color:#e7e7e7
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color:transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color:#e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color:transparent
    }
}

.navbar-default .navbar-link {
    color:#777
}

.navbar-default .navbar-link:hover {
    color:#333
}

.navbar-default .btn-link {
    color:#777
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color:#333
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
    color:#ccc
}

.navbar-inverse {
    background-color: #222;
    border-color:#080808
}

.navbar-inverse .navbar-brand {
    color:#9d9d9d
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color:transparent
}

.navbar-inverse .navbar-text {
    color:#9d9d9d
}

.navbar-inverse .navbar-nav > li > a {
    color:#9d9d9d
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color:transparent
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color:#080808
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {
    color: #444;
    background-color:transparent
}

.navbar-inverse .navbar-toggle {
    border-color:#333
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:#333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:#101010
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color:#080808
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color:#080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color:#080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color:#9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color:transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color:#080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color:transparent
    }
}

.navbar-inverse .navbar-link {
    color:#9d9d9d
}

.navbar-inverse .navbar-link:hover {
    color:#fff
}

.navbar-inverse .btn-link {
    color:#9d9d9d
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color:#fff
}

.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
    color:#444
}

