/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  padding-top: 75px; // 75px
  padding-bottom: 10px; // 75px
  padding-right: 25px;
  padding-left: 25px;
  background: $t-theme;
}

.c-header__title {
  position: relative;
  @include ff--mono(6000);
  @include fs--title;
  color: $c__white;

  &:after {
    margin-left: .5rem;
    color: rgba(#fff, .5);
    content: 'AndroidDeals';
  }

  span {
    color: rgba(#fff, .5);
  }
}
