/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  width: 100%;
  background: $t-theme;
  z-index: 10;  

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, 0));
  }

  &.is-fixed {
    position: fixed;
    will-change: transform;
  }
}

.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include ff--mono(500);
  @include fs--meta;
  color: $c__white;
  text-transform: uppercase;
  font-size: 18px; 

  &:not(:last-of-type) {
    margin-right: 1rem;    // 10px
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background ease-in-out 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    background: $c__white;
  }
}
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    $toggle.addEventListener('click', handleMagic)
    function handleMagic(e){
        if ($navbar.className.indexOf('in') > 0) {
        // CLOSE
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        }else{
        // OPEN
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }
</script>
