/* ==========================================================================
   Red Theme
   ========================================================================== */

.t-red {

  .c-navigation,
  .c-header {
    background: $c__red;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__red;
  }

  .c-footer a {
    color: $c__red;
  }
}
