<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">
  {% include head.html %}
  <body>
    {% include navigation.html %}


    {{ content }}
    
<script>
var timer  = null;
box.onclick = function(){
    cancelAnimationFrame(timer);
    timer = requestAnimationFrame(function fn(){
        var oTop = document.body.scrollTop || document.documentElement.scrollTop;
        if(oTop > 0){
            scrollTo(0,oTop-50);
            timer = requestAnimationFrame(fn);
        }else{
            cancelAnimationFrame(timer);
        }    
    });
}
</script>


    {% include footer.html %}
  </body>
</html>
