---
layout: page
---

{
     <div align="center">
         <a href="https://t.me/joinchat/HAPwwxAESAEfq3HGzYo73A/"><img src="https://img.shields.io/badge/%E6%88%91%E7%9A%84%E7%94%B5%E6%8A%A5%E7%BE%A4-success?logo=telegram" alt="Telegram"></a>
         <a href="https://shop108859308.taobao.com/"><img src="https://img.shields.io/badge/%E6%88%91%E7%9A%84%E6%B7%98%E5%AE%9D%E5%BA%97%E9%93%BA-AndroidDeals-orange" alt="Taobao"></a>
     </div>
       { content }
}



<div id="comments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#comments',
        app_id: 'HObYg6DWL9XooalILHc3rcL1-gzGzoHsz',
        app_key: 'XKbkS4IyRihR3kyinygkHNcT',
        placeholder:'说点什么',
    });
</script>

