---
layout: page
---
<div align="center">
   <a href="https://github.com/AndroidDeals/AndroidDeals.github.io/"><img src="https://img.shields.io/badge/我的GitHub-blue?logo=github" alt="Github"></a>
   <a href="https://t.me/joinchat/HAPwwxAESAEfq3HGzYo73A/"><img src="https://img.shields.io/badge/%E6%88%91%E7%9A%84%E7%94%B5%E6%8A%A5%E7%BE%A4-success?logo=telegram" alt="Telegram"></a>
   <a href="https://shop108859308.taobao.com/"><img src="https://img.shields.io/badge/%E6%88%91%E7%9A%84%E6%B7%98%E5%AE%9D%E5%BA%97%E9%93%BA-AndroidDeals-orange" alt="Taobao"></a>
</div>

   {{ content }}


<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80ODAzMC8yNDUyNw==">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
